<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Fruits App</title>
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>All Fruits</h1>
        <ul>
            
            <% fruits.forEach(v=>{ %> 
                <li>
                    <%=v.name %> 
                </li>
            <% }) %>
            
        </ul>
    </body>
</html>